body {
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(211, 155, 155);
}

h1 {
  color:rgb(166, 41, 41);
}

form {
  background-color: rgb(188, 210, 228);
  text-align: center;
  max-width: 350px;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.283)


}

#mytextbox {
  width: 50%;
  text-align: center;
  font-size: 2em;
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  margin-bottom: 15px;
}

label {
  font-size: 1.5em;
  font-weight: bold;
}

button{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: white;
  margin-top: 15px;
  background-color: rgb(166, 41, 41);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 2s;
}

button:hover {
  background-color: rgb(176, 176, 235) ;
}

#result {
  font-size: 25px;
  font-style: italic;
}